
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

*{
    font-family: "EB Garamond", serif;
    user-select: none;
}

.photo-profil-spotify{
    width: 170px;
}

#navbar{
    width: 100vw;
}

.cursor:hover{
    cursor: pointer;
}

#musique #Musiques img{
    width: 138px;
}

#musique #Musiques .card{
    max-width: 140px;
}

